@use '@/styles/variables' as *;

.container {
    padding-top: 80px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.heroSection {
    text-align: center;
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1000px;
    max-height: 800px;
    margin: 0 auto;
    height: min(78vh, 720px);
    overflow: hidden;

    .title {
        font-size: $font-2xl;
        margin-bottom: 1rem;
        color: $color-default;

        span {
            color: $color-inverse;
            background: linear-gradient(90deg, $color-primary, $color-tertiary);
        }
    }

    .description {
        font-size: $font-lg;
        color: $color-muted;
        margin: 0;
    }
}

.about {
    max-width: $container-width;
    margin: 4rem auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
    padding: 4rem 2rem;
    border-top: 10px solid transparent;
    border-radius: $radius-lg;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, $color-primary, $color-tertiary) border-box;

    p {
        color: $color-muted;
        font-size: $font-2xl;
        font-weight: $font-medium;

        span {
            color: $color-default;
        }
    }
}

.companies {
    max-width: $container-width;
    margin: 0 auto;

    .title {
        color: $color-default;
        font-size: $font-2xl;
        font-weight: $font-bold;
        text-align: start;
        color: $color-muted;
        padding: 0.5rem;
        max-width: 600px;

        strong {
            background: linear-gradient(
                    -180deg,
                    $color-secondary,
                    $color-tertiary
                )
                bottom / 100% 3px no-repeat;
        }

        span {
            color: $color-primary;
        }
    }
}

.stacks {
    max-width: $container-width;
    margin: 3rem auto;
    text-align: center;

    h2 {
        color: rgb(43, 43, 43);
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem 0;
        font-size: $font-2xl;

        span {
            color: $color-primary;
        }
    }
}

@media (min-width: 768px) {
    .heroSection {
        .title {
            font-size: $font-3xl;
        }
    }
}

@media (min-width: 1024px) {
    .heroSection {
        .title {
            font-size: $font-4xl;
        }

        .description {
            font-size: $font-xl;
        }
    }
}
